// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body,
html{
	background: #fff !important;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif !important;
}

#app{
    background: #e6e6e6;
}

.main{
	position: relative;
	height: 100vh;
    background: #fff;
}


