<style>
	.create-message{
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 110px;
	}
	.create-message textarea{
	    border: none;
	    font-size: 13px;
	    resize: none;
	    box-shadow: none !important;
	    padding-top: 2px;
	}
</style>

<template>
	<div id="create-message-widget">
		<div class="create-message tool-bar border p-3">
            <div class="input-group">
                <div class="input-group-append d-inline-block pos-relative">
                    <span>Сообщение:</span>
                </div>
                <textarea @keyup.enter="create()" v-model="text" rows="2" class="form-control" placeholder="..."></textarea>
            </div>
            <div class="mt-2">
                <button :disabled="is_load" @click="create()" class="btn btn-sm btn-primary">Отправить</button>
                <button @click="reset()" class="btn btn-sm btn-disabled">Отменить</button>
            </div>
        </div> 
	</div>
</template>

<script>
	export default{
		data: function(){
			return {
				url: "/api/message/create",
				is_load: false,
				text: null
			}
		},
		methods: {
			validate(){
				var app = this;
				if(app.text == null || app.text == '' || app.name == null || app.name == ''){
					return false;
				}
				return true;
			},
			reset(){
				var app = this;
				app.text = null;
			},
			create(){
				var app = this;
				if(!app.validate()){
					app.$notification.error('Введите сообщение');
					return;
				}
				app.is_load = true;
				axios
	            .post(app.url,{
	                text: app.text,
	                name: app.name
	            })
	            .then(function(result){
	            	if(result.data.status == 'ok'){
            			app.$notification.success("Сообщение добавлено");
	            	}
	            	else if(result.data.status == 'error'){
	            		app.$notification.error("Что то пошло не так!");
	            	}
	            	app.reset();
	            	app.is_load = false;
	            })
	            .catch(function (error) {
				    app.$notification.error("Что то пошло не так!");
				});
			},
			init(){
				var app = this;
			}
		},
		mounted: function(){
			this.init();
		},
		computed: {
			name: {
				get(){
		            return this.$store.state.name;
		        },
		        set(value){
		        	this.$store.dispatch('setName', value);
		        }
			}
		}
	}
</script>