<style>
	#messages-widget .messages{
	    position: absolute;
	    overflow-x: hidden;
	    overflow-y: auto;
	    display: flex;
	    flex-direction: column-reverse;
	    top: 0;
	    left: 0;
	    width: 100%;
	    list-style: none;
	    margin: 0;
	    padding: 0 1rem;
	    height: calc(100% - 110px);
	}
	#messages-widget .messages li{
	    max-width: 80%;
	    min-width: 20%;
	    padding: 5px;
	    border-radius: 6px;
	    margin-bottom: 10px;
	}
	#messages-widget .messages li.right{
	    margin-right: auto;
	    border: 1px solid #d4e7fa;
	    background-color: #dbedf5;
	}
	#messages-widget .messages li.left{
	    text-align: left;
	    margin-left: auto;
	    background-color: #f8fafc;
	    border: 1px solid #e1e4e8;
	}
	#messages-widget .loader {
	    position: absolute;
	    text-align: center;
	    left: 0;
	    width: 100%;
	    top: calc(50% - 15px);
	}
</style>

<template>
	<div id="messages-widget">
		<ul v-if="!is_load" class="messages">
            <li v-for="item in items" class="clearfix" :class="[name == item.name ? 'right' : 'left']">
               <div class="chat-body clearfix">
                  <div class="header">
              		<strong class="primary-font">
              			<span v-if="name == item.name">Вы</span>
              			<span v-else>{{ item.name }}</span>
              		</strong>
              	  </div>
                  <div class="mt-2 mb-2">
                     <div>{{ item.text }}</div>
                     <!---->
                  </div>
                  <div><small class="text-muted">{{ $moment(item.created_at).format('LL LT') }}</small></div>
               </div>
            </li>
        </ul>

        <div v-else class="loader">
        	<div class="spinner-border" role="status">
			  <span class="visually-hidden">Загрузка...</span>
			</div>
        </div>
	</div>
</template>

<script>
	export default{
		data: function(){
			return {
				url: "/api/messages",
				is_load: true,
				items: [],
				is_active_socket: false
			}
		},
		methods: {
			getItems(){
				var app = this;
				app.is_load = true;
				axios
	            .post(app.url,{
	                
	            })
	            .then(function(result){
	            	if(result.data.status == 'ok'){
	            		app.items = result.data.data;
	            	}
	            	else if(result.data.status == 'error'){
	            		app.$notification.error("Что то пошло не так!");
	            	}
	            	app.is_load = false;
	            })
	            .catch(function (error) {
				    app.$notification.error("Что то пошло не так!");
				});
			},
			activeSocket(){
				var app = this;
				if(!app.is_active_socket){
					app.$echo.channel(`main`).listen('CreateMessageEvent', (e) => {
						console.log(e);
	                	if(e.message != undefined){
	                		app.items.unshift(e.message);
	                	}
					})
					app.is_active_socket = true;
					console.log(app.$echo);
				}
			},
			init(){
				var app = this;
				app.getItems();
				app.activeSocket();
			}
		},
		mounted: function(){
			this.init();
		},
		destroyed: function(){
			var app = this;
			app.$echo.leave(`main`);
		},
		computed: {
			name: {
				get(){
		            return this.$store.state.name;
		        },
		        set(value){
		        	this.$store.dispatch('setName', value);
		        }
			}
		}
	}
</script>