<style>
	
</style>

<template>
	<div class="container">
	    <div class="row">    
	        <div class="col-12">
	            <div class="main">
	                <messages-widget></messages-widget>

                   	<create-message-widget></create-message-widget>
	            </div>
	        </div>
	    </div>
	</div>
</template>

<script>
	export default{

	}
</script>