<style>
	.enter-name{
		padding: 20vh 25%;
	}
</style>

<template>
	<div class="container">
		<div class="row">    
	        <div class="col-12">
	            <div class="main">
	            	<div class="enter-name">
	            		<div>
	            			<div class="text-center">Введите ваше имя</div>
	            			<input @keyup.enter="save()" type="text" class="form-control" v-model="pre_name">
	            		</div>
	            			
            			<div class="mt-2 text-center">
            				<button @click="save()" class="btn btn-success">Сохранить</button>
            			</div>
	            	</div>
            	</div>
        	</div>
    	</div>
	</div>
</template>

<script>
	export default{
		data: function(){
			return {
				pre_name: null
			}
		},
		methods: {
			save(){
				var app = this;
				if(app.pre_name == null || app.pre_name == ''){
					app.$notification.error('Введите имя');
					return false;
				}
				app.name = app.pre_name;
			}
		},
		computed: {
			name: {
				get(){
		            return this.$store.state.name;
		        },
		        set(value){
		        	this.$store.dispatch('setName', value);
		        }
			},
		}
	}
</script>